<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="/statics/bootstrap-3.3.7-dist/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/statics/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/statics/bootstrap-3.3.7-dist/css/bootstrap.css" />
    <title>Title</title>
</head>
<body>
<div style="background-image:url(https://s2.ax1x.com/2020/02/29/36yQcn.jpg);">
<div style="text-align: center;padding-top: 30%;height: 100vh">
    <span style="font-size: 18px;color: #0e90d2;font-weight: bold;">请进入"CY课堂管理助手"小程序扫码签到</span>
    <img src="/statics/img/QRCode.jpg" style="width: 50%;height: 30%;margin-top: 30px">
</div>
</div>
</body>
</html>